extends layout

block content
  if (user)
    .container
      h1 Edit Profile
      p.lead Fill in your information!
      form(role='form', action="/edit", method="post", style='max-width: 300px;')
        lead New Email:
        .form-group
          input.form-control(type='text', name="username", value=user.username)
        lead New Display Name:
        .form-group
          input.form-control(type='text', name="displayname", value=user.displayname)
        lead New Profile Description:
        .form-group
          input.form-control(type='description', name="description", value= user.description)
        br
        br
        lead Change Your Password:
        .form-group
          input.form-control(type='password', name="newpassword", placeholder="Enter new password!")
        .form-group
          input.form-control(type='password', name="newpassword2", placeholder="Enter new password again for verification!")
        button.btn.btn-default(type='submit') Submit
        a(href='/')
          button.btn.btn-primary(type="button") Cancel
        br
      h4= info
  if (!user)
    Unauthorized
