extends layout

block content
  header(role='banner')
    hgroup
      h1
        a(href='/'): img(src='/images/logo.jpg')    
        <strong>A4 CRUD App</strong>
  .container
    h2 Trade Form
    form#formSubmitTrade(name="submittrade",method="post",action="/maketrade")
        p Title of Trade:
        .form-group
            input#inputTradeTitle(type="text", placeholder="", name="tradetitle")
        p Item(s) Up for Trading:
        .form-group
            input#inputTradeItems(type="text", placeholder="", name="tradeitems")
        p Item(s) Requesting:
        .form-group
            input#inputTradeReq(type="text", placeholder="", name="tradereq")
        p Trade Description:
        .form-group
            input#inputTradeDesc(type="text", placeholder="", name="tradedesc")  
        button.btn.btn-default(type='submit') Submit
        a(href='/')
  .container
    h3 Upload Picture of Your Trade!       
      form(role='form', action="/upload",method="post", enctype="multipart/form-data", style='max-width: 300px;')
        .form-group
          input.form-control(type='file', name='displayImage')
        button.btn.btn-default(type='submit') Submit   
    br
    a(href='/'): button.btn.btn-primary(type="button") Cancel