extends layout

block content
  .container
    h1 Search for Trades
    form(role='form', action="/search", method="post", style='max-width: 300px;')
      p.lead Item I want:
      .form-group
        input.form-control(type='text', name="want")
      p.lead Item I have:
      .form-group
        input.form-control(type='text', name="have")
      button.btn.btn-default(type='submit') Submit

