extends layout

block content
  .container
    if (trade)
      h1 Upload Trade Picture       
      form(role='form', action="/upload",method="post", enctype="multipart/form-data", style='max-width: 300px;')
        .form-group
          input.form-control(type='file', name='image')
          input(type='hidden', name='tradeID', value=trade)
        br
        button.btn.btn-default(type='submit') Submit
    else
      h1 Upload Profile Picture       
      form(role='form', action="/upload",method="post", enctype="multipart/form-data", style='max-width: 300px;')
        .form-group
          input.form-control(type='file', name='image')
        br
        button.btn.btn-default(type='submit') Submit